
@import './misc/_variables.scss';
body{
    background-color: $main-bg-color !important;
    margin: 0;
    font-family: 'Jaldi', sans-serif !important;
}
.header{
    height: 43px;
    background-color: $black;
    padding: 0px 16px;
    display: flex;
    align-items: center;
    gap: 12px;
    .logo_img {
        background-color: $red;
        height: 25px;
        width: 25px;
        border-radius: 4px;
        text-align: center;
        display: flex;
        align-items: center;
        img {
            height: 19px;
            width: auto;
            margin: auto;
        }
    }
    h4{
        color: $white;
        margin: 0;
        padding: 0;
        font-size: 15px;
    }
}

.homepage_layout{
    .layout_content{
        margin-bottom: 75px;
    }
}
.first_slider{
    padding: 0px 14px;
    margin-top: 10px;
    .first_slider_item{
        border-radius: 4px;
        display: flex;
        overflow: hidden;
        .slider_strip{
            color: $white;
            width: 30px;
            position: relative;
            p{
                transform: rotate(270deg);
                line-height: unset;
                height: 30px;
                position: absolute;
                left: -46px;
                margin: 0;
                padding: 0;
                bottom: 0;
                top: 39px;
                width: 122px;
            }
        }
        .slider_content{
            height: 122px;
            overflow: hidden;
            flex: 1;
            padding: 9px;
            background-position: top !important;

            display: flex;
            flex-direction: column;
            align-items: center;
            .top_section{
                display: flex;
                align-items: center;
                color: $white;
                gap: 10px;
                img {
                    height: 18px;
                }
                h5{
                    font-size: 10px;
                    margin: 0;
                }
                p{
                    font-size: 10px;
                    margin: 0;
                }
            }
            .team_section{
                display: flex;
                align-items: center;
                gap: 10px;
                color: $white;
                margin: 10px 0px 0px;
                div {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    h5{
                        font-size: 14px;
                        margin: 0;
                    }
                    img {
                        width: 15px;
                    }
                }
            }
            .dec{
                margin: 5px 0px 8px;
                width: 70%;
                text-align: center;
                p {
                    font-size: 10px;
                    color: $white;
                    margin: 0;
                }
            }
            .odds_section{
                background: $green;
                border-radius: 4px;
                height: 26px;
                width: 80%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0px 10px;
                color: $white;
                p{
                    font-size: 12px;
                    margin: 0;
                }
                h5 {
                    font-size: 14px;
                    margin: 0;
                }
            }
        }
    }
}

.league_tabs{
    .league_tab_slider{
        display: flex;
        ul {
            list-style-type: none;
            display: flex;
            gap: 10px;
            overflow-y: hidden;
            overflow-x: auto;
            padding: 0;
            margin: 14px 0px;
            &[data-scrollable]::-webkit-scrollbar {
                display: none;
                -webkit-appearance: none;
            }
            :first-child{
                margin-left: 14px;
            }
            :last-child{
                margin-right: 14px;
            }
            li {
                padding: 4px 15px;
                background-color: $white;
                border-radius: 4px;
                font-size: 13px;
                cursor: pointer;
                white-space: nowrap;
                &.selected{
                    font-weight: bold;
                }
            }
        }
    }
}

.lig_slider{
    .swiper-slide{
        &:first-child{
            margin-left: 14px;
        }
    //   width: auto!important;  
    }
    // .lig_slider_item
    .lig_slider_item{
        
        height: 170px;
        // min-width: 302px;
        // width: 302px;
        border-radius: 4px;
        padding: 0px 10px;
        background-color: #37003E;
        .title{
            text-align: center;
            color: $white;
            font-size: 13px;
            font-weight: bold;
            margin: 0;
            padding-top: 5px;
        }
        .team_section{
            display: flex;
            justify-content: space-around;
            // gap: 30px;
            .team_content{
                text-align: center;
                img {
                    height: 53px;
                }
                p {
                    margin: 0;
                    color: $white;
                    line-height: 1;
                    font-size: 13px;
                }
            }
            .team_time{
                margin-top: 10px;
                text-align: center;
                p {
                    margin: 0;
                    font-size: 12px;
                    color: $white;
                }
            }
            .team_score{
                text-align: center;
                color: $white;
                h2 {
                    margin: 0;
                    font-size: 30px;
                    line-height: 1.3;
                }
                p {
                    margin: 0;
                    font-size: 12px;
                }
            }
        }
        .win_title{
            p{
                margin: 0;
                text-align: center;
                color: $white;
                font-size: 13px;
            }
        }
        .odd_items{
            display: flex;
            margin-top: 5px;
            gap: 10px;
            &.multiple{
                justify-content: center;
                gap: 20px;
                .odd_item {
                    width: auto;
                    gap: 20px;

                    :last-child{
                        font-weight: bold;
                    }
                }
            }
            &:not(.multiple){
                .odd_item {
                    :first-child{
                        font-weight: bold;
                    }
                }
            }
            .odd_item {
                background: $white;
                border-radius: 4px;
                width: 100%;
                display: flex;
                justify-content: space-between;
                padding: 0px 10px;
                gap: 15px;
                &.selected{
                    background: #1C1A1B;
                    color: $white
                }
                
                P{
                    margin: 0;
                    font-size: 13px;
                    line-height: 2.1;
                }
            }
        }
    }
}
.popular_odds_container {
    margin: 14px;
    background: $white;
    border-radius: 4px;
    .popular_odd_header {   
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 30px;
        border-bottom: 1px solid #F2F2F2;
        h2 {
            margin: 0;
            font-size: 16px;
            font-weight: bold;
        }
        .share_icon{
            display: flex;
            align-items: center;
        }
        svg {
            fill: #A2A2A2;
            height: 15px;
        }
    }
    .popular_matches_content{
        padding: 0px 20px 10px;
        .popular_match_item{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 15px 0px;
            .left_content{
                display: flex;
                justify-content: center;
                gap: 0px;
                width: 100%;
                .team_section{
                    &:nth-child(1){
                        justify-content: end;
                        text-align: end;
                    }
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    flex-basis: 40%;
                    img {
                        height: 20px;
                    }
                    p {
                        font-size: 12px;
                        margin: 0;
                    }
                }
                .time_section{
                    text-align: center;
                    flex-basis: 20%;
                    p{
                        &:first-child{
                            font-weight: bold;
                            line-height: 1;
                        }
                        margin: 0;
                        color: #707070;
                        font-size: 11px;
                    }
                }
            }
            .odd_button{
                display: flex;
                background-color: #F0F0F0;
                border-radius: 4px;
                padding: 0px 11px 0px 5px;
                gap: 10px;
                height: 30px;
                align-items: center;
                justify-content: space-between;
                width: 66px;
                cursor: pointer;
                &.selected{
                    background-color: #2D2A2B;
                    color: $white;
                }
                :last-child{
                    font-weight: bold;
                }
                p{
                    &:first-child{
                        line-height: 1;
                        text-align: center;
                        width: 20px;
                    }
                    margin: 0;
                    font-size: 13px;
                }
            }
        }
    }
}

.tip_collection_modal {
    .modal-dialog-centered{
        align-items: end !important;
    }
    .modal-content{
        margin-bottom: 54px;
        border-radius: 4px;
    }
    .modal-header{
        padding: 10px 20px;
        .modal-title{
            font-size: 16px;
            font-weight: bold;
        }
        .btn-close{
            font-size: 12px;
        }
    }
}
.footer {
    display: flex;
    background-color: $black;
    align-items: flex-end;
    justify-content: center;
    padding: 13px 10px 13px 30px;
    gap: 26px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1100;
    .footer-item {
        text-align: center;
        &.tip_collection{
            margin-left: 20px;
            .tip_collection_icon {
                top: -30%;
                position: absolute;
                background-color: $green;
                height: 45px;
                width: 45px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;    
                span{
                    font-size: 13px;
                    color: $white;
                    position: absolute;
                    left: 66%;
                    top: 1px;
                    border-radius: 10px;
                }    
            }
        }
        .logo-footer{
            font-weight: 600;
            span{
                color: #CC0000;
            }
        }
        p {
            margin: 0;
            line-height: 1;
            color: $white;
            font-size: 12px;
        }

    }
}